.selected-user-icon {
    border-radius: 50%;
    width: 45px;
    height: 45px;
  }
  .selected-user{
    max-height: 100em; 
    min-height: 50em;
    overflow-y: scroll;
  }
  .userdm-name {
    color: white;
    padding-left: 10px;
    font-weight: 100;
    margin: 0;
    font-size: 15px;
  }
  .user-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    border-bottom: 2px solid rgb(49, 49, 49);
  }
  .telephone-icon,
  .camera-icon,
  .info-icon {
    padding-right: 15px;
    cursor: pointer;
  }
  .userdm-icon {
    color: white;
    font-size: 35px;
  }
  .userdm-imgname {
    display: flex;
    align-items: center;
  }
  .dm-icon {
    width: 30px;
    border-radius: 50%;
    height: 30px;
  }
  .dm-message1 {
    color: white;
    margin: 0 0 0 10px;
    display: flex;
    background-color: #262626;
    border-radius: 30px;
    padding: 10px;
    align-items: center;
  }
  .userdm-messages {
    display: flex;
    align-items: center;
    flex-direction: row;
    margin: 10px 0;
  }
  .me-messages {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-end;
    margin: 10px 0;
  }
  .me-message1 {
    color: white;
    margin: 0 10px 0 0;
    display: flex;
    background-color: #3797f0;
    border-radius: 30px;
    padding: 10px;
    align-items: center;
  }
  .dm-footer {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    border: 1px solid gray;
    border-radius: 10px;
    padding: 10px;
    margin: 15px;
  }
  .footer-input {
    color: white;
    display: flex;
    font-size: 25px;
    align-items: center;
    flex: 1;
  }
  .footer-icons {
    display: flex;
    color: white;
    font-size: 25px;
  }
  .text-input {
    border: none;
    background: none;
    height: 35px;
    color: white;
    width: 100%;
  }
  .text-input:focus {
    outline: none;
  }
  .hearth-icon {
    padding-left: 5px;
  }
  .mic-icon {
    padding-right: 5px;
  }
  .smiley-icon {
    margin-right: 10px;
  }
  .footer-open{
    display: none;
  }
 

  
  @media (max-width: 768px) {
    .user-header {
        align-items: center;
    }
    .userdm-icon {
      font-size: 20px;
    }
    .telephone-icon,
    .camera-icon,
    .info-icon {
      padding-right: 5px;
    }
    .userdm-name {
      font-size: 12px;
    }
    .dm-message1,
    .me-message1 {
      font-size: 12px;
      padding: 8px;
    }
    .footer-input {
      font-size: 20px;
    }
    .footer-icons {
      font-size: 20px;
    }
  }
  
    .footer-icons.hidden {
        display: none;
    }
    .send-button{
        color: #3797f0;
        cursor: pointer;
    }   
    .hidden {
        display: none;
     }
  
    .visible {
        display: block;
     }
  

@media (max-width: 768px) {
    .footer-input {
        font-size: 20px;
    }
    .footer-icons {
        font-size: 20px;
    }
    .send-button {
        font-size: 20px;
    }
}
