.chats {
    margin: 0;
    font-size: 18px;
    color: white;
  }
  
  .chat-text {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .chat-name {
    color: white;
  }
  
  .request-text {
    color: #a8a8a8;
    cursor: pointer;
  }
  
  .user-component {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
  }
  
  .chat-message-name {
    display: flex;
    flex-direction: column;
  }
  
  .chat-lastmessage {
    margin: 5px 0 0 0;
    color: #a8a8a8;
    font-size: 14px;
  }
  
  .user-message {
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  .user-message:hover {
    background-color: #121212 ;
  }
  
  .message-user-icon {
    margin-right: 10px;
    width: 50px;
    border-radius: 50%;
    height: 50px;
  }
  
  .tick-icon {
    background-color: #0095f6;
    color: black;
    border-radius: 10px;
    font-size: 10px;
    margin-left: 4px;
  }
  
  @media (max-width: 768px) {
    .chat-text {
      align-items: flex-start;
    }
  
    .chats,
    .request-text {
      font-size: 16px;
    }
  
    .user-component {
      margin-top: 10px;
    }
  
    .chat-name,
    .chat-lastmessage {
      font-size: 14px;
    }
  
    .message-user-icon {
      width: 40px;
      height: 40px;
    }
  }
  